
.wrap {width: 800px; margin: auto;}
header {height : 50px; background-color: salmon; font-size: 30px;}
nav {height : 50px; background-color: salmon;}
.nav-link {color: white;}
.main-link:hover {background-color:teal}
.content {height : 600px;}

.photo {width: 250px; height: 170px; font-size: 15px; color:grey;}


footer {height : 30px; font-size: 8px;}



.title {font-size : 10px; font-weight: bold; }
.price {font-size: 10px; color : grey;}
.seller {font-size: 10px; color: orange;}

.contents {font-size: 30px; color: grey;}

.box {width: 500px;}
.box-2 {width: 595px;}
.box-3 {width: 540px;} 
