<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ServletProject</display-name>


	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.lytear.hello.HelloController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
		
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletEx01</servlet-name>
		<servlet-class>com.lytear.servlet.ServletEx01</servlet-class>
	
	
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEx01</servlet-name>
		<url-pattern>/servlet/ex01</url-pattern>
	
	
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletTest01</servlet-name>
		<servlet-class>com.lytear.servlet.test01</servlet-class>
	</servlet>	

	<servlet-mapping>
		<servlet-name>ServletTest01</servlet-name>
		<url-pattern>/servlet/test01</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletEx02</servlet-name>
		<servlet-class>com.lytear.servlet.test02</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEx02</servlet-name>
		<url-pattern>/servlet/test02</url-pattern>
	</servlet-mapping>

	<!--  filter 셋팅. filter 이름만 먼저 정해주고, 실제 적용은 그 아래에서 (위의 servlet과 동일) 
	모든 page를 지나갈 떄 filter 지나가라 
	필터 쪽에
어노테이션 추가하면
web.xml 에
추가한 부분을 주석 처리해야 해요
둘중에 하나만 사용가능합니다
	
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.lytear.config.CharacterEncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
			<filter-name>CharacterEncodingFilter</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
		
	-->



</web-app>